/* EventsPage.css */

/* Styling for event cards */
.event-card {
    display: flex; /* Use flexbox to align items */
    flex-direction: column; /* Arrange children in a column */
    height: 100%; /* Ensure each card takes the full height */
    border: 1px solid #ddd; /* Add a border for better visual separation */
    border-radius: 8px; /* Rounded corners for cards */
    margin-bottom: 20px; /* Add some spacing between cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.event-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Larger shadow on hover */
}

.event-card img {
    height: 200px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure images cover the area without distortion */
    border-top-left-radius: 8px; /* Rounded corners for top-left */
    border-top-right-radius: 8px; /* Rounded corners for top-right */
}

/* Centering content vertically */
.vertical-center {
    display: flex;
    align-items: center;
}

/* Styling for card title */
.card-title {
    font-size: 20px; /* Increase font size for card title */
    margin-bottom: 10px; /* Add some spacing below the title */
}

/* Styling for card text */
.card-text {
    font-size: 16px; /* Set font size for card text */
    color: #555; /* Set text color */
    margin-bottom: 15px; /* Add some spacing below the text */
}

/* Styling for More Info button */
.btn-more-info {
    background-color: #dc3545; /* Set background color */
    border: none; /* Remove border */
    padding: 8px 16px; /* Add padding */
    font-size: 16px; /* Set font size */
    color: #fff; /* Set text color */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.btn-more-info:hover {
    background-color: #c82333; /* Darker background color on hover */
}

/* Centering More Info button */
.btn-more-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

/* EventsPage.css */

/* Styling for event filter form */
.event-filter-form {
    background-color: #f8f9fa; /* Light background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for better distinction */
}

.event-filter-form .form-group {
    margin-bottom: 1.5rem;
}

.search-button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button .fa-search {
    margin-right: 8px; /* Space between icon and text */
}

/* Styling for game select */
.event-filter-form select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    font-size: 1rem;
    width: 100%;
}

