.image-container {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the image horizontally */
}

.image-container img {
    display: block; /* Ensure images are block elements */
    width: 100%; /* Fill the container width */
    height: auto; /* Maintain aspect ratio */
}


.no-items-message {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 60px;
}

