/* Game Card Styling */
.game-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.game-card img {
    height: 300px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

/* Button Styling */
.game-card .btn {
    margin-right: 10px;
}

.game-card .btn-primary,
.game-card .btn-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
}

.game-card .btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Platform and Category Styling */
.platform-container,
.category-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.platform-container img,
.category-container img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.platform-container span,
.category-container span {
    margin-left: 5px;
}

.platform-image {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.platform-image img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

/* Form Styling */
form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form .form-group {
    flex: 1;
    display: flex;
    align-items: center;
}

form .form-control {
    flex: 1;
}

form .btn {
    margin-left: 10px;
}
