.game-card {
    width: 100%;
    height: 100%; /* Set a fixed height for the cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-card img {
    height: 400px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure the image covers the specified area while maintaining aspect ratio */
    object-position: center; /* Center the image within the specified area */
    width: 100%;
}

.game-card .btn {
    margin-right: 10px;
}

.game-card .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-card .btn-danger {
    background-color: red;
    border-color: red;
    color: white;
}

.game-card .btn-danger:hover {
    background-color: darkred;
    border-color: darkred;
}
.platform-container,
.category-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.platform-container img,
.category-container img {
    width: 30px; /* Adjust the size of the platform image and category logo */
    height: 30px;
    margin-right: 5px;
}

.platform-container span,
.category-container span {
    margin-left: 5px;
}
.platform-image {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.platform-image img {
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    margin-left: 5px; /* Add margin for spacing */
}
